<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.DesktopGL" version="3.8.1.303" targetFramework="net472" />
  <package id="MonoGame.Framework.Portable.9000" version="3.8.9101" targetFramework="net472" />
  <package id="MonoGame.Framework.WindowsUniversal" version="3.8.1.303" targetFramework="net472" />
</packages>